<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Title-->
<title>Search</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<style>
        body{margin:0;padding:0;}
        iframe{margin:0; padding:0; width:100%; display:block;}
</style> 


<style>
.extraClass {
    height: 122px; 
    position: relative;
}

.extraClass ul {
    position: absolute;
    bottom: 0;
    right: 0;
}    
</style>

</head>
<body>

	<!--header part-->
	<div id="header" class="navbar navbar-inverse navbar-static-top"
		role="navigation">
		<div class="container-fluid">
			<div class="navbar-inner">
				<p class="navbar-text text-left"
					Style="color: white; font-family: Comic Sans MS; font-size: 160%;">TravelHelper
				</p>

				<div class="pull-right" style="margin-top: 12px">
				
					<p class="navbar-text" style="color:white; font-style: italic;font-family: Comic Sans MS;">Hello, $usernmae</p>
					
					<button class="btn btn-warning" type="submit" onclick="{location.href='/home'}">Search</button>
					
					<button class="btn btn-info" type="submit" onclick="{location.href='/account'}">Account</button>

					<button class="btn btn-info" type="submit" onclick="{location.href='/logout'}">Sign Out
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
				</div>
			</div>
		</div>
	</div>
	
		
				
				
				
				
				
				
				
				
	