	<!--Search part-->
	<div class="jumbotron">
		<div class="container">
			<h1 style="color: #424242; font-family: Fantasy; font-size: 300%">Discover
				Hotels</h1>
			<br>
			
			<p style="color: red; font-size: 10pt; font-style: italic;">$!errorMessage<br></p>


			<form action="/hotels" method="GET">

				<div class="form-group">
					<label for="hotelName" style="color: #424242; font-family: Fantasy;">Hotel Name</label> 
					<input type="text" class="form-control" name="hotelName" placeholder="All hotels in selected city with BLANK">
				</div>


				<div class="form-group">
					<label for="city" style="color: #424242; font-family: Fantasy;">City</label>
					<input type="text" class="form-control" name="city" placeholder="All Cities with BLANK">
				</div>
				

				<div class="form-group">
					<label for="state" style="color: #424242; font-family: Fantasy;">State</label>
					<select class="form-control" name="state">
						<option value="">-- All States --</option>
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					</select>
				</div>

				<button type="submit" class="btn btn-warning">Search</button>

			</form>



		</div>
	</div>

</body>
</html>