<div>
	<div class="container-fluid">
		<table class="table table-striped">
			<tr>
				<th>Hotel ID</th>
				<th>Hotel Name</th>
				<th>Hotel Address</th>
				<th>Ave Rating</th>
			</tr>

			#foreach($hotel in $hotelList)
			<tr>
				<td>$hotel.hotelId</td>
				<td>
				<a href="http://localhost:2050/hotelWiki?hotelId=${hotel.hotelId}">
				$hotel.hotelName
				</a></td>
				<td>$hotel.hotelAddr</td>
				<td>$hotel.aveRating</td>
			</tr>
			#end

		</table>

	</div>
</div>

<div><br></div>

<div class="container-fluid">
	<div class="row">
            <div class="col-sm-9">
            	<div id="map" style="width:100%;height:600px"></div>
            </div>
            
            <div class="col-sm-3">
            
            
            </div>
	</div> 
</div>




<script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: 37.7749, lng: -122.4194}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      	var locations = ${geoLocations}
      
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK2XSZ3vpAzfLe97-ea-Lbgw2DUj5VK50&callback=initMap">
    </script>

</body>
</html>
