  
    <!--Hotel Info box -->
    <div class="contrainer">
        <div class="row">
            
            <div class="col-sm-2"> &nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/image/hotel_cartoon.jpg" width="70%" height="70%" class="img-rounded">
            </div>
            
            
            <div class="col-sm-6">
                <p style="color:black; font-family:Comic Sans MS; font-size:150%">
                    $hotel.hotelName&nbsp;
                <span class="text-muted" style="font-family:Comic Sans MS; font-size:70%">
                (${hotel.hotelId})</span>
                </p>
                <p style="color:black; font-family:Fantasy; font-size:100%">$hotel.hotelAddr</p>
                
                <p style="color:green; font-family:Fantasy; font-size:100%">Average Rating: ${hotel.aveRating}/5</p>
                
                <a type="button" href="" class="btn btn-xs btn-danger" onclick="saveHotel(${hotel.hotelId});">
                Save Now<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </a>
                
                <a href="https://www.expedia.com/h${hotel.hotelId}.Hotel-Information" 
                   class="btn btn-xs btn-primary" target="_blank" onclick="saveExpedia(${hotel.hotelId});">Expedia
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                </a>    
                
            </div>
        
            
            <div class="col-sm-4 extraClass">
            
            <ul class="nav nav-tabs">
                <li class="active" role="presentation">
                <a href= "http://localhost:2050/reviews?hotelId=${hotelId}" target="frame">Reviews</a></li>
                
                <li class="active" role="presentation">
                <a href="http://localhost:2050/attractions?hotelId=${hotelId}" target="frame">Attraction Search</a></li>
                
                <li class="active" role="presentation" >
                <a href="http://localhost:2050/hotelMap?hotelId=${hotelId}" target="frame">Google Map&nbsp;&nbsp;</a></li>        
            </ul>
            </div>
        
        </div>        
            
        <div class="container-fluid" height="1000">
            <br>
            <iframe src="http://localhost:2050/hotelMap?hotelId=${hotelId}" name="frame" frameborder="0" 
            onload="this.height=frame.document.body.scrollHeight" width="100%">
            </iframe>
                 
        </div>    

    
    </div>
    
    <script>
    function saveExpedia(hotelId){
    	var xhttp = new XMLHttpRequest();
    	xhttp.open("GET", "expediaLink?hotelId=" + hotelId, true);
        xhttp.send();
    }
    </script>
    
    
    <script>
    function saveHotel(hotelId){
    	 var xhttp = new XMLHttpRequest();
    	  	xhttp.onreadystatechange = function() {
    		if(xhttp.readyState == 4 && xhttp.status == 200){
    			alert(xhttp.responseText);
    		}
    	}
    	  	
    	xhttp.open("POST", "/save_hotels", true);
    	xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    	xhttp.send("hotelId=" + hotelId); 	
    	  	
    }
    
    
    
    
    </script> 
   
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
  
    
    </body>
</html>