<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Title-->
<title>Modify Review</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<style>
div {
    margin-top: 0px;
    margin-bottom: 10px;
}
Try it Yourself »


</style> 
 
</head>
<body>
    <div class="container-fluid"> 
    	<div class="container-fluid">
    		<p style="font-size:150%;">$hotelName</p>
    	</div>
    	<p class="bg-danger" >$!errorMessage</p>
    </div>
    
    
    
    <div class="container-fluid">
   
    <form action="/modify_review" method="POST">
    <input type="hidden" name="reviewId" value=$review.reviewId >
    <div>
        <div class="rows">
            <div class="col-sm-1">Recom:</div>
            <div class="col-sm-11">
                <label class="radio-inline">
                      <input type="radio" name="recom" id="recomY" value="YES" $!checkedYES> Yes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="recom" id="recomN" value="NO" $!checkedNO> No
                    </label>
            </div>
        </div>    
    </div>
     
        
    <div>
        <div class="rows">
            <div class="col-sm-1">Rating:</div>
            <div class="col-sm-11">    
                <label class="radio-inline">
                      <input type="radio" name="overallRating" id="rate5" value="5" $!checked5> 5
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="overallRating" id="rate4" value="4" $!checked4> 4
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="overallRating" id="rate3" value="3" $!checked3> 3
                    </label>     
                    <label class="radio-inline">
                      <input type="radio" name="overallRating" id="rate2" value="2" $!checked2> 2
                    </label>     
                    <label class="radio-inline">
                      <input type="radio" name="overallRating" id="rate1" value="1" $!checked1> 1
                    </label>     
            </div>
        </div>    
    </div>
     
       
    <div>
        <div class="rows">
            <div class="col-sm-1">Title:</div>
            <div class="col-sm-11">    
                    <input type="text" class="form-control" name="reviewTitle" value=$!review.reviewTitle>
            </div>
        </div>    
    </div>
        
     <div>
        <div class="rows">
            <div class="col-sm-1">Text:</div>
            <div class="col-sm-11">    
                    <textarea class="form-control" rows="5" name="reviewText" >$!review.reviewText</textarea>
            </div>
        </div>    
    </div>
            
        
    <div>
        <div class="rows">
            <div class="col-sm-1">
                <button class="btn btn-success btn-sm"  type="submit">Save
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span></button>
            </div>    
        </div>
    </div>    
        
    </form>
    
    
    </div>
    
    
    
    
    
    <script>$!reloadParent</script> 
    
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>