<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Title-->
<title>Reviews</title>

<link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div>
	<div>
		<p style="color: #424242; font-family: Fantasy; font-size: 120%">$!noReviewMessage</p>
	</div>
	
	<div class="dropdown" style="display: ${display};">
		&nbsp;&nbsp;&nbsp;
  		<button class="btn btn-default dropdown-toggle" type="button" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    	Sort by &nbsp;<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" aria-labelledby="sort">
		    <li><a href= "http://localhost:2050/reviews?hotelId=${hotelId}&sortType=reviewDate" >Review Date</a></li>
		    <li><a href= "http://localhost:2050/reviews?hotelId=${hotelId}&sortType=overallRating">Overall Rating</a></li>
		   
		 </ul>
	</div>
	
	<div class="container-fluid" style="display: ${display};">
		<br>
		<table id="reviews" class="table table-striped">
			<tr>
				<th width="6%">User</th>
				<th width="15%">Review Title</th>
				<th>Review Text</th>
				<th width="8%">Date</th>
				<th width="5%">Recomm</th>
				<th width="2%">Rate</th>
			</tr>

			#foreach($review in $reviewList)
			<tr>
				<td>$review.username</td>
				<td>$review.reviewTitle</td>
				<td>$review.reviewText</td>
				<td>$review.reviewDate</td>
				<td>$review.isRecom</td>
				<td>$review.overallRating</td>
			</tr>
			
			<tr>
			<td colspan="2"></td>
				
			<td colspan="4" align="right">
			
				<a onclick="like(this)" class="btn btn-xs btn-danger" id=${review.reviewId}>Like
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                </a> 
                &nbsp;&nbsp;
                <span style="font-size:100%; font-family:fantasy; color:HotPink; font-style: italic" id=${review.reviewId}likeCount>
                ${review.likeCount} users found this Review helpful!</span>
			</td>
			
			</tr>
			
		
			
			#end
			
		</table>

	</div>
</div>


<script>
function like(elem){
	var reviewId = elem.id;
	var xhttp = new XMLHttpRequest();
	  	xhttp.onreadystatechange = function() {
		if(xhttp.readyState == 4 && xhttp.status == 200){
			var text = xhttp.responseText;
			if( parseInt(text) == -1){
				document.getElementById(reviewId + "likeCount").innerHTML = likeCount + " users found this Review helpful!";
				document.getElementById(reviewId).onclick = function (alert("You already liked this review!"));
				document.getElementById(reviewId).class = "btn btn-xs btn-info";
				document.getElementById(reviewId).innerHTML = "Liked";
			}else if(parseInt(sValue) > 0){}
				document.getElementById(reviewId).onclick = function (alert("You already liked this review!"));
				document.getElementById(reviewId).class = "btn btn-xs btn-info";
				document.getElementById(reviewId).innerHTML = "Liked";
				alert("You Liked this review before!");
			}else{
				alert(text);
			}
			
		}
	}
	  	
	xhttp.open("GET", "/like_reviews?reviewId=" + reviewId, true);
	xhttp.send();
	
}





</script>
     
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>