<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Title-->
<title>Saved Hotels</title>

<link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

      <div class="container-fluid">
        <div class="container-fluid">
         <p style="font-size:150%; font-family:fantasy; color:green;">$!message</p>
        </div>
      </div>
      
      
      
      
      <div class="container-fluid" style="display: ${displayTable};">
          
        <div class="container-fluid">
            
		<table class="table table-striped">
			<tr>
				<th width="20%">Hotel ID</th>
				<th width="60%">Hotel Name</th>
				<th width="20%">Search</th>
			</tr>

			
			#foreach($hotel in $hotelList)
			<tr>
				<td>$hotel.hotelId</td>
				<td>
				<a href="/hotelWiki?hotelId=${hotel.hotelId}" target="_blank">
				$hotel.hotelName</a></td>
				<td>
                    <a href="/hotelWiki?hotelId=${hotel.hotelId}"
                       class="btn btn-xs btn-primary" target="_blank">Details
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </a>  

                </td>
			</tr>
			#end
		</table>    
       
         </div>    
            
      <div><br><br></div>
      
            
            
          
          
          
        
              <div class="container-fluid">
                <form action="/save_hotels" method="post">
                  <input type="hidden" name="clearList" value="YES">
                  <button class="btn btn-danger btn-sm"  type="submit">
                      Clear History &nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </button>    
                </form>
              </div>
    
          
          
          
          
          
          
    </div>
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>